# Node.js dependencies
/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# macOS system files
.DS_Store

# Temporary files
tmp/
temp/

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Nodemon binary cache
.nodemon*

# Build files
dist/
build/

# Coverage directory (if using coverage tools like Jest or nyc)
coverage/
